<!DOCTYPE html>
<html lang="es"><head>
    <title>Practica Layout</title>
      <meta charset="utf-8">
      <link href = "style.css" type ="text/css" rel ="stylesheet">
  </head>
  <body>
  <div><h2>Diseño Resposivo</h2>
    Responsive Web Design es la técnica que nos permite crear sitios adaptables a las condiciones del ordenador o dispositivo desde donde se van a acceder, sobre todo en lo que tiene relación con la pantalla del sistema donde se están visualizando.<br>
  Todo comenzó con Ethan Marcotte cuando introdujo el término Responsive Web Design y publicó un libro con el mismo nombre. 
  Las páginas web no deben omitir información para adaptarse a dispositivos más pequeños.<div>

  <div>El diseño web responsivo se trata de usar HTML y CSS para cambiar el tamaño, ocultar, reducir o ampliar automáticamente un sitio web, para que se vea bien en todos los dispositivos.<br>
  Las páginas optimizadas para una variedad de dispositivos deben incluir una Meta etiqueta de ventana gráfica en el encabezado del documento. Una Meta etiqueta de ventana gráfica le da al navegador instrucciones sobre cómo controlar las dimensiones y la escala de la página. Indica a la página que coincida con el ancho de la pantalla en píxeles independientes del dispositivo.<div>

  <img src="">

  <div> <h2>Imagenes</h2>
  Una imagen tiene dimensiones fijas y si es más grande que la ventana gráfica, se formará una barra de desplazamiento.
  Una forma habitual de solucionar este problema es asignar a todas las imágenes una max-width de 100%. Esto hará que la imagen se encoja para ajustarse al espacio que tiene, en caso de que el tamaño de la ventana gráfica sea más pequeño que la imagen.
  </div>

  <div> <h2>Diseño</h2>
  Dado que las dimensiones y el ancho de la pantalla en píxeles CSS varían ampliamente entre dispositivos (por ejemplo, entre teléfonos y tabletas, e incluso entre diferentes teléfonos), el contenido no debe depender de un ancho de ventana en particular para renderizarse bien.</div>

  <img src="">

  <ul><p>Características:</p>
    <li>Los layouts e imágenes son fluidos y se adaptan a cada pantalla.</li>
    <li>*Permite reducir al tiempo de desarrollo.</li>
    <li></li>
  </ul>


</body>
</html>
